.homeSection2 {
    /* height: 700px; */
    background: #fff 0% 0% no-repeat padding-box;
    opacity: 1;
}

.homeSection2-Haeding {
    font: var(--unnamed-font-style-normal) normal medium 64px/106px Archivo;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal medium 40px/40px Archivo;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 46px;
    line-height: 44px;
    margin: -1em 0 0 0;
    /* margin-left: auto;
    margin-right: auto; */
    color: #000;
}

.homeSection2-row {
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
    margin: 10px 10px 10px 10px;
}

.homeSection2-Img {
    /* display: flex; */
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-bottom: 3rem;
}

.homeSection2Icons {
    height: 50px;
    padding-top: 3em;
    padding-right: 20em;
}

.homeSection2-SubHeading {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/26px var(--unnamed-font-family-nunito-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-scale-bg-colour);
    text-align: center;
    font: normal normal 600 16px/26px Nunito Sans;
    letter-spacing: 0px;
    color: #19181E;
    opacity: 1;
    padding-bottom: 3em;
    padding-left: 0.5em;
    text-transform: uppercase;
    color: #141414;
}

.homeSection2-Paragraph {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/26px var(--unnamed-font-family-nunito-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-scale-bg-colour);
    text-align: left;
    font: normal normal 600 16px/26px Nunito Sans;
    letter-spacing: 0px;
    color: #19181E;
    opacity: 1;
    padding-bottom: 3em;
    /* padding-left: 0.5em; */
}

.homeSection2-Title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 24px/var(--unnamed-line-spacing-34) Archivo;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-scale-bg-colour);
    text-align: left;
    font: normal normal bold 24px/34px Archivo;
    opacity: 1;
    font-weight: 500;
    line-height: 32px;
    color: #141414;
}


/* --------------------------------- responsive media queries  
                        -------------------------------------------------------*/

@media (min-width: 768px) {
    .homeSection2 {
        padding-top: 172px !important;
    }
}

@media (min-width: 200px) and (max-width: 767px) {
    .homeSection2 {
        padding: 150px 0;
        height: auto;
    }
}