/* Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:400,500,700&display=swap");
body {
    font-size: 100%;
}

h1 {
    font-size: 2.625em;
    /* Convert pixels to em 42px/16=2.5em */
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.875em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 0.875em;
}

.bg-primary {
    background-color: #005ED1 !important;
}

.text-primary {
    color: #005ED1 !important;
}

a.text-primary:hover {
    color: #E5BD05 !important;
}

.bg-secondary {
    background-color: #9CA1A3 !important;
}

.text-secondary {
    color: #9CA1A3 !important;
}

a.text-secondary:hover {
    color: #878d8f !important;
}

.bg-success {
    background-color: #159B42 !important;
}

.text-success {
    color: #159B42 !important;
}

a.text-success:hover {
    color: #107733 !important;
}

.bg-warning {
    background-color: #FCD581 !important;
}

.text-warning {
    color: #FCD581 !important;
}

a.text-warning:hover {
    color: #fbc859 !important;
}

.bg-info {
    background-color: #4BA2AA !important;
}

.text-info {
    color: #4BA2AA !important;
}

a.text-info:hover {
    color: #3f878e !important;
}

.bg-danger {
    background-color: #D52941 !important;
}

.text-danger {
    color: #D52941 !important;
}

a.text-danger:hover {
    color: #b32237 !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.text-dark {
    color: #353535 !important;
}

a.text-dark:hover {
    color: #E5BD05 !important;
}

.bg-muted {
    background-color: #707070 !important;
}

.text-muted {
    color: #ffffff !important;
}

a.text-muted:hover {
    color: #5c5c5c !important;
}

.bg-custom {
    background-color: #32cfaa !important;
}

.text-custom {
    color: #32cfaa !important;
}

a.text-custom:hover {
    color: #29af90 !important;
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 0px;
}

.rounded {
    border-radius: 6px !important;
}

.rounded-top {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.rounded-left {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

.rounded-bottom {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.rounded-right {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.modal-open {
    padding-right: 0 !important;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden !important;
    font-size: 15px;
    color: #535353;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Archivo", sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

::-moz-selection {
    background: #6c757d;
    color: #ffffff;
}

::selection {
    background: #6c757d;
    color: #ffffff;
}

a {
    text-decoration: none !important;
}

p {
    line-height: 1.8;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.section-two {
    padding: 60px 0;
    position: relative;
}